<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8"/>
    <title>vue app</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app" class="container">
      <h1>My ToDos</h1>
      <h1>My ToDos</h1>
      <!-- <p>{{ name }}</p>
      <p><input type="text" v-model="name" /></p> -->
      <ul>
        <li v-for="todo in todos">{{ todo }}</li>
      </ul>
      <form @submit.prevent="addItem">
        <input type="text" v-model="newItem" />
        <input type="submit" value="add" />
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
